# Instructions

1. You can look up any documentation web pages on the internet.

2. You are not allowed to search directly for answers in websites like Stack Overflow.

3. Keep your camera on during the whole interview

4. Share your screen while you are attempting the coding questions.

# Questions

In [ ]:
import numpy as np
import pandas as pd

1. [Python] Given two lists of numbers, one with actual values and another one with predictions, implement a function to calculate the Root Mean Squared Error.

In [ ]:

def calculate_rmse(actual_value,predicted_values):
  mse = np.mean((np.array(actual_value) - np.array(predicted_values)) **2)
  rmse = np.sqrt(mse)
  return rmse

actual_value = [0,1,2,0,3]
predicted_values = [0.2, 2.3, 4.5, 0.5, 1.1]
rmse = calculate_rmse(actual_value,predicted_values)
print("rms error:",rmse)

rms error: 1.5388307249337076

In [ ]:
df = pd.DataFrame([range(1,20), range(10,30), range(20,40), range(30,45), range(40,60), range(50,60), range(50,65)]*4, columns=["id"] + ["x"+str(i) for i in range(18)] + ["y"])
df["y"] = np.random.permutation(["Good"]*10+["Bad"]*18)

In [ ]:
df

,id,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,y
0,1,2,3,4,5,6,7,8,9,10,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,Bad
1,10,11,12,13,14,15,16,17,18,19,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,Bad
2,20,21,22,23,24,25,26,27,28,29,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,Bad
3,30,31,32,33,34,35,36,37,38,39,40.0,41.0,42.0,43.0,44.0,NaN,NaN,NaN,NaN,Bad
4,40,41,42,43,44,45,46,47,48,49,50.0,51.0,52.0,53.0,54.0,55.0,56.0,57.0,58.0,Good
5,50,51,52,53,54,55,56,57,58,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad
6,50,51,52,53,54,55,56,57,58,59,60.0,61.0,62.0,63.0,64.0,NaN,NaN,NaN,NaN,Bad
7,1,2,3,4,5,6,7,8,9,10,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,Good
8,10,11,12,13,14,15,16,17,18,19,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,Bad
9,20,21,22,23,24,25,26,27,28,29,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,Bad
10,30,31,32,33,34,35,36,37,38,39,40.0,41.0,42.0,43.0,44.0,NaN,NaN,NaN,NaN,Good
11,40,41,42,43,44,45,46,47,48,49,50.0,51.0,52.0,53.0,54.0,55.0,56.0,57.0,58.0,Bad
12,50,51,52,53,54,55,56,57,58,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Good
13,50,51,52,53,54,55,56,57,58,59,60.0,61.0,62.0,63.0,64.0,NaN,NaN,NaN,NaN,Bad
14,1,2,3,4,5,6,7,8,9,10,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,Bad
15,10,11,12,13,14,15,16,17,18,19,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,Good
16,20,21,22,23,24,25,26,27,28,29,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,Good
17,30,31,32,33,34,35,36,37,38,39,40.0,41.0,42.0,43.0,44.0,NaN,NaN,NaN,NaN,Bad
18,40,41,42,43,44,45,46,47,48,49,50.0,51.0,52.0,53.0,54.0,55.0,56.0,57.0,58.0,Bad
19,50,51,52,53,54,55,56,57,58,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad
20,50,51,52,53,54,55,56,57,58,59,60.0,61.0,62.0,63.0,64.0,NaN,NaN,NaN,NaN,Bad
21,1,2,3,4,5,6,7,8,9,10,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,Bad
22,10,11,12,13,14,15,16,17,18,19,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,Good
23,20,21,22,23,24,25,26,27,28,29,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,Bad
24,30,31,32,33,34,35,36,37,38,39,40.0,41.0,42.0,43.0,44.0,NaN,NaN,NaN,NaN,Good
25,40,41,42,43,44,45,46,47,48,49,50.0,51.0,52.0,53.0,54.0,55.0,56.0,57.0,58.0,Good
26,50,51,52,53,54,55,56,57,58,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bad
27,50,51,52,53,54,55,56,57,58,59,60.0,61.0,62.0,63.0,64.0,NaN,NaN,NaN,NaN,Good

2. [Pandas / Numpy] Subset the dataframe:

    a. New dataframe’s columns should contain first 5 columns and last 2 columns of the original dataframe

    b. New dataframe’s rows should contain first 10 rows and last 3 rows of the original dataframe

In [ ]:
subset_columns = df.iloc[:, :5].join(df.iloc[:, -2:])

In [ ]:
subset_rows = pd.concat([df.head(10), df.tail(3)])

In [ ]:
print("Subset based on columns:")
print(subset_columns)
print("\nSubset based on rows:")
print(subset_rows)

Subset based on columns:
    id  x0  x1  x2  x3   x17     y
0    1   2   3   4   5  19.0   Bad
1   10  11  12  13  14  28.0   Bad
2   20  21  22  23  24  38.0   Bad
3   30  31  32  33  34   NaN   Bad
4   40  41  42  43  44  58.0  Good
5   50  51  52  53  54   NaN   Bad
6   50  51  52  53  54   NaN   Bad
7    1   2   3   4   5  19.0  Good
8   10  11  12  13  14  28.0   Bad
9   20  21  22  23  24  38.0   Bad
10  30  31  32  33  34   NaN  Good
11  40  41  42  43  44  58.0   Bad
12  50  51  52  53  54   NaN  Good
13  50  51  52  53  54   NaN   Bad
14   1   2   3   4   5  19.0   Bad
15  10  11  12  13  14  28.0  Good
16  20  21  22  23  24  38.0  Good
17  30  31  32  33  34   NaN   Bad
18  40  41  42  43  44  58.0   Bad
19  50  51  52  53  54   NaN   Bad
20  50  51  52  53  54   NaN   Bad
21   1   2   3   4   5  19.0   Bad
22  10  11  12  13  14  28.0  Good
23  20  21  22  23  24  38.0   Bad
24  30  31  32  33  34   NaN  Good
25  40  41  42  43  44  58.0  Good
26  50  51  52  53  54   NaN   Bad
27  50  51  52  53  54   NaN  Good

Subset based on rows:
    id  x0  x1  x2  x3  x4  x5  x6  x7  x8    x9   x10   x11   x12   x13  \
0    1   2   3   4   5   6   7   8   9  10  11.0  12.0  13.0  14.0  15.0
1   10  11  12  13  14  15  16  17  18  19  20.0  21.0  22.0  23.0  24.0
2   20  21  22  23  24  25  26  27  28  29  30.0  31.0  32.0  33.0  34.0
3   30  31  32  33  34  35  36  37  38  39  40.0  41.0  42.0  43.0  44.0
4   40  41  42  43  44  45  46  47  48  49  50.0  51.0  52.0  53.0  54.0
5   50  51  52  53  54  55  56  57  58  59   NaN   NaN   NaN   NaN   NaN
6   50  51  52  53  54  55  56  57  58  59  60.0  61.0  62.0  63.0  64.0
7    1   2   3   4   5   6   7   8   9  10  11.0  12.0  13.0  14.0  15.0
8   10  11  12  13  14  15  16  17  18  19  20.0  21.0  22.0  23.0  24.0
9   20  21  22  23  24  25  26  27  28  29  30.0  31.0  32.0  33.0  34.0
25  40  41  42  43  44  45  46  47  48  49  50.0  51.0  52.0  53.0  54.0
26  50  51  52  53  54  55  56  57  58  59   NaN   NaN   NaN   NaN   NaN
27  50  51  52  53  54  55  56  57  58  59  60.0  61.0  62.0  63.0  64.0

     x14   x15   x16   x17     y
0   16.0  17.0  18.0  19.0   Bad
1   25.0  26.0  27.0  28.0   Bad
2   35.0  36.0  37.0  38.0   Bad
3    NaN   NaN   NaN   NaN   Bad
4   55.0  56.0  57.0  58.0  Good
5    NaN   NaN   NaN   NaN   Bad
6    NaN   NaN   NaN   NaN   Bad
7   16.0  17.0  18.0  19.0  Good
8   25.0  26.0  27.0  28.0   Bad
9   35.0  36.0  37.0  38.0   Bad
25  55.0  56.0  57.0  58.0  Good
26   NaN   NaN   NaN   NaN   Bad
27   NaN   NaN   NaN   NaN  Good